---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PromoStrip from '../components/PromoStrip.astro';
import Overview from '../components/Overview.astro';
import Location from '../components/Location.astro';
import Premium from '../components/Premium.astro';
import Design from '../components/Design.astro';
import Community from '../components/Community.astro';
import System from '../components/System.astro';
import FloorPlans from '../components/FloorPlans.astro';
import LeadForm from '../components/LeadForm.astro';
import FloatingCTA from '../components/FloatingCTA.astro';
import Footer from '../components/Footer.astro';
import Popup from '../components/Popup.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <PromoStrip />
    <Overview />
    <Location />
    <Premium />
    <Design />
    <LeadForm />
    <Community />
    <System />
    <FloorPlans />
  </main>
  <Footer />
  <FloatingCTA />
  <Popup />
</Base>
